<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Links</title>
</head>
<body>
    <h1>Dynamic Links</h1>
    <ul>
        <% links.forEach(link => { %>
            <li><a href="<%= link.url %>"><%= link.text %></a></li>
        <% }); %>
    </ul>
</body>
</html>
